src/main/resources/assets/wsdl/sigtap/xsd/baseprocedimento.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/procedimento" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/procedimento">
    
    <xs:element name="BaseProcedimento" type="BaseProcedimentoType"/>
    <xs:element name="codigoProcedimento" type="CodigoProcedimentoType"/>
    
    <xs:simpleType name="CodigoProcedimentoType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ Tipo que representa o código de um Procedimento no SIGTAP. ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="BaseProcedimentoType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                Este tipo representa um Procedimento com somente o código e o nome, para representações sucintas.
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoProcedimentoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Procedimento. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Procedimento. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="250"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
