src/main/resources/assets/wsdl/sigtap/xsd/categoriacbo.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/cbo/v1/categoriacbo" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/cbo/v1/categoriacbo">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa uma Categoria CBO.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoCategoriaCBOType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ Tipo que representa o código de uma Categoria CBO. ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="CategoriaCBOType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoCategoriaCBOType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Categoria CBO. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo da Categoria CBO. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
