src/main/resources/assets/wsdl/sigtap/xsd/grupo.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/grupo" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/grupo">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Grupo, o primeiro nível de agregação da tabela de procedimentos. 
            Em cada grupo estão agregados os procedimentos com características gerais semelhantes ou de acordo com a finalidade do atendimento a ser prestado aos usuários na rede do SUS.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="Grupo" type="GrupoType"/>
    <xs:element name="codigoGrupo" type="CodigoGrupoType"/>
    
    <xs:simpleType name="CodigoGrupoType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="GrupoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoGrupoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Grupo. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Grupo. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
