src/main/resources/assets/wsdl/sigtap/xsd/instrumentoregistro.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/instrumentoregistro" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/instrumentoregistro">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Instrumento de Registro. 
            Identifica os instrumentos de captação de dados dos atendimentos.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoInstrumentoRegistroType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="InstrumentoRegistroType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoInstrumentoRegistroType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Instrumento de Registro. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Instrumento de Registro. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
