src/main/resources/assets/wsdl/sigtap/xsd/modalidadeatendimento.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/modalidadeatendimento" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/v1/modalidadeatendimento">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa uma Modalidade de Atendimento.
            Uma Modalidade de Atendimento identifica o regime de atendimento onde o Procedimento pode ser realizado.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoModalidadeAtendimentoType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ModalidadeAtendimentoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoModalidadeAtendimentoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Modalidade de Atendimento. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo da Modalidade de Atendimento. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
