src/main/resources/assets/wsdl/sigtap/xsd/msfalha.v5r0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mensagem="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem" xmlns="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha">

	<xs:import id="mensagem" namespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem" schemaLocation="mensagem.v5r0.xsd">
		<xs:annotation>
			<xs:documentation><![CDATA[ O objeto corresponde as mensagens padronizadas de
				retorno. Exemplo: Toda e
				qualquer mensagem que retornara para
				a acao
				solicitada, este objeto servira como base para
				apresentar o codigo da
				mensagem e se necessario a descricao da mensagem.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:import>

	<xs:annotation>
		<xs:documentation><![CDATA[ Objeto de tratamento de falhas que podem ocorrer nas
			diversas chamadas aos
			servicos do Ministerio da Saude.
			Exemplo: Toda e
			qualquer solicitacao pode ocorrer uma falha na
			aplicacao, ou seja, o
			seu retorno estara comprometido e sera
			preenchido este objeto com a
			informacao, codigo e descricao da falha.
			]]>
		</xs:documentation>
	</xs:annotation>

	<xs:element name="MSFalha">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" nillable="true" name="identificador" type="xs:string"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Mensagem" type="mensagem:MensagemType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
