src/main/resources/assets/wsdl/sigtap/xsd/paginacao.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/wsdl/mensageria/v1/paginacao" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/wsdl/mensageria/v1/paginacao">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Estrutura destinada à paginação de resultados. 
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="Paginacao" type="PaginacaoType"/>
    
    <xs:complexType name="PaginacaoType">
        <xs:sequence>
            
            <xs:element name="registroInicial" minOccurs="1" maxOccurs="1" nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ O valor numérico identificador da registro inicial solicitado/atual. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="quantidadeRegistros" minOccurs="1" maxOccurs="1" nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ O valor numérico que determina a quantidade de registros presentes na página solicitada/atual. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="totalRegistros" minOccurs="0" maxOccurs="1" nillable="false">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ O valor numérico que determina a quantidade total de registros. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
