src/main/resources/assets/wsdl/sigtap/xsd/regracondicionada.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/regracondicionada/v1/regracondicionada" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/regracondicionada/v1/regracondicionada">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa uma Regra Condicionada. 
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoRegraCondicionadaType">
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="RegraCondicionadaType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoRegraCondicionadaType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Regra Condicionada. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome da Regra Condicionada. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="150"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="descricao" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Texto descritivo da Regra Condicionada. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
