src/main/resources/assets/wsdl/sigtap/xsd/tipodocumento.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/publicacao/v1/tipodocumento" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/publicacao/v1/tipodocumento">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Tipo de Documento, caracteriza um Documento de Publicação. 
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoTipoDocumentoType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ Tipo que representa o código identificador do Tipo de Documento. ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="TipoDocumentoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoTipoDocumentoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Tipo de Documento. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Tipo de Documento. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
