src/main/resources/wsdl/sigtap/xsd/formaorganizacao.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/formaorganizacao" xmlns:sgp="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/subgrupo" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/formaorganizacao">
    
    <xs:import id="sgp" namespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/nivelagregacao/v1/subgrupo" schemaLocation="subgrupo.v1.xsd"/>
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa uma Forma de Organização, o terceiro nível de agregação da tabela. 
            Neste nível os procedimentos estão agregados por diferentes critérios: região anatômica, sistemas do corpo humano, especialidades, tipo de exame, tipo de cirurgia, entre outros.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="FormaOrganizacao" type="FormaOrganizacaoType"/>
    
    <xs:simpleType name="CodigoFormaOrganizacaoType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="FormaOrganizacaoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoFormaOrganizacaoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Forma de Organização. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo da Forma de Organização. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <xs:element name="Subgrupo" minOccurs="0" maxOccurs="1" type="sgp:SubgrupoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Subgrupo ao qual essa Forma de Organização está associada. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
