src/main/resources/wsdl/sigtap/xsd/mensagem.v5r0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem">

	<xs:annotation>
		<xs:documentation><![CDATA[O objeto corresponde as mensagens padronizadas de retorno. Exemplo: Toda e qualquer mensagem que retornara para a acao solicitada, este objeto servira como base para apresentar o codigo da mensagem e se necessario a descricao da mensagem.]]></xs:documentation>
	</xs:annotation>

	<xs:element name="Mensagem" type="MensagemType"/>
	
	<xs:complexType name="MensagemType">
		<xs:sequence>
			<xs:element name="codigo" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation><![CDATA[Codigo da mensagem padronizada.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descricao" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation><![CDATA[Descricao da mensagem.]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
