src/main/resources/wsdl/sigtap/xsd/redeatencao.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/redeatencao/v1/redeatencao" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/redeatencao/v1/redeatencao">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa uma Rede de Atenção.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoRedeAtencaoType">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RedeAtencaoType">
        <xs:sequence>

            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoRedeAtencaoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Rede de Atenção. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome da Rede de Atenção. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

</xs:schema>
