src/main/resources/wsdl/sigtap/xsd/servicoclassificacao.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/servicoclassificacao/v1/servicoclassificacao" xmlns:se="http://servicos.saude.gov.br/schema/sigtap/procedimento/servicoclassificacao/v1/servico" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/servicoclassificacao/v1/servicoclassificacao">
    
    <xs:import id="se" namespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/servicoclassificacao/v1/servico" schemaLocation="servico.v1.xsd"/>
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Serviço/Classificação, que identifica os serviços especializados, que o estabelecimento de saúde precisa dispor para realização de um procedimento. 
            Quando um procedimento tem a exigência de serviço/classificação, isto significa que somente poderá ser realizado num estabelecimento de saúde que disponha desse serviço/classificação cadastrado no SCNES.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoClassificacaoType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ServicoClassificacaoType">
        <xs:sequence>
            
            <xs:element name="Servico" minOccurs="1" maxOccurs="1" nillable="true" type="se:ServicoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Serviço ao qual esse Serviço/Classificação está associado. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="codigoClassificacao" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoClassificacaoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador da Classificação. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nomeClassificacao" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo da Classificação. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="150"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
