src/main/resources/wsdl/sigtap/xsd/tipoleito.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/tipoleito/v1/tipoleito" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/tipoleito/v1/tipoleito">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Tipo de Leito, indicado para a realização de um Procedimento.
            Quando um Procedimento tem a exigência de um determinado Tipo de Leito, isso significa que somente poderá ser realizado num estabelecimento de saúde que disponha de tal leito cadastrado no SCNES.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoTipoLeitoType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="TipoLeitoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoTipoLeitoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Tipo de Leito. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Tipo de Leito. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
