src/main/resources/wsdl/sigtap/xsd/tipofinanciamento.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://servicos.saude.gov.br/schema/sigtap/procedimento/financiamento/v1/tipofinanciamento" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/sigtap/procedimento/financiamento/v1/tipofinanciamento">
    
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            Este esquema representa um Tipo de Financiamento. 
            É o Tipo de Financiamento do Procedimento em coerência aos blocos de financiamento definidos no Pacto de Gestão de Saúde.
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <xs:simpleType name="CodigoTipoFinanciamentoType">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="TipoFinanciamentoType">
        <xs:sequence>
            
            <xs:element name="codigo" minOccurs="1" maxOccurs="1" nillable="true" type="CodigoTipoFinanciamentoType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Código identificador do Tipo de Financiamento. ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="nome" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ Nome descritivo do Tipo de Financiamento. ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
